<!DOCTYPE html>
{%load staticfiles%}
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>IPH</title>
  <link rel="stylesheet" href="{% static "css/estilosfont.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/bulma.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/hero.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/estilos.css" %}">
</head>
<body>
  <section class="hero is-primary is-large header-image">
    <div class="hero-head">
      <header class="nav">
        <div class="container">
          <div class="nav-left">
            <a class="nav-item" href="../">
              <h1 class="title is-3">
                IPH
              </h1>
            </a>
          </div>
          <span class="nav-toggle">
            <span></span>
            <span></span>
            <span></span>
          </span>
          <div class="nav-right nav-menu">
            <a class="nav-item is-active" href="../">
              Inicio
            </a>
            <a class="nav-item">
              Buscar IP
            </a>
            <span class="nav-item">
              <a class="button is-info is-inverted" href="admin/">
                <span class="icon">
                  <i class="icon-user"></i>
                </span>
                <span>Login</span>
              </a>
            </span>
          </div>
        </div>
      </header>
    </div>
    <div class="hero-body">
      <div class="container has-text-centered">
        <h1 class="title is-2">
          IPH App
        </h1>
        <h2 class="subtitle is-5">
          Prueba la Beta 1.0
        </h2>
        <p>
          <a class="button is-outlined">
            <span class="icon">
              <i class="icon-download"></i> 
            </span>
            <span>
              Descargar
            </span>
          </a>
        </p>
      </div>
    </div>
  </section>
  <div class="hero-cta">
    <nav class="level">
      <div class="level-item has-text-centered">
        <p class="title">Intenta aqui! <a class="button is-primary"><span class="icon"><i class="icon-download"></i></span><span>Aqui</span></a></p>
      </div>
    </nav>
  </div>
  <div class="section main">
    <div class="container">
      <div class="columns">
        <div class="column is-4">
          <div class="panel">
            <div class="panel-block section">
              <p class="has-text-centered"><i class="icon-location2 icon-block"></i></p>
              <br>
              <p>Localizacion de dispositivos Android con esta App camuflada, podras obtener su ubicacion por medio del gps y consultarlo aqui. Pruebala!!</p>
              <br>
              <p class="has-text-centered"><a class="button is-info is-outlined">Ver mas</a></p>
            </div>
          </div>
        </div>
        <div class="column is-4">
          <div class="panel">
            <div class="panel-block section">
              <p class="has-text-centered"><i class="fa icon-mobile icon-block"></i></p>
              <br>
              <p>Obten informacion de los dispositivos como nombre del dispositivo, contactos, estado, correo, entre otros. (Para la Beta 3.0 y Version final 1.0)</p>
              <br>
              <p class="has-text-centered"><a class="button is-info is-outlined" href="actualizaciones/">Ver actualizaciones futuras</a></p>
            </div>
          </div>

        </div>
        <div class="column is-4">
          <div class="panel">
            <div class="panel-block section">
              <p class="has-text-centered"><i class="fa icon-info icon-block"></i></p>
              <br>
              <p>Ve la informacion de uso de la aplicacion y los cambios de todo aqui. Tambien otro tipo de datos como manejo de uso y uso legal de esta apliacion.</p>
              <br>
              <p class="has-text-centered"><a class="button is-info is-outlined" href="info/">Ver mas.</a></p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="content has-text-centered">
        <p>
          <strong>Bulma</strong><a href=""></a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>.
        </p>
        <p>
          <a class="icon" href="https://github.com/jgthms/bulma">
            <i class="icon-github"></i>
          </a>
        </p>
      </div>
    </div>
  </footer>
  <script async type="text/javascript" src="{% static "js/bulma.js" %}"></script>
</body>
</html>
